* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    font-size: 1vw;
}

body {
    background-color: rgb(236, 231, 213);
    /* height: 100%; */
    z-index: 0;
}

main {
    padding: 0 3vw 0 3vw;

}

a {
    color: #000;
}

nav {
    display: flex;
    flex-direction: row;
    z-index: 999;
}

.home {
    width: 20vw;
}

nav img {
    /* width: 100%; */
    height: 100%;
}

.category-name {
    display: flex;
    flex-direction: row-reverse;
}

.chevron {
    display: inline-block;
    /* border-right: 4px solid rgb(229, 21, 21); */
    transform: rotate(45deg);
    position: relative;
}

.navigation {
    display: flex;
    width: 100%;
    list-style: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation ul {
    display: none;
    list-style: none;
}

.ham-menu {
    height: 7vw;
    width: 7vw;
    margin-left: auto;
    position: relative;
    z-index: 99;
    display: none;
}

.ham-menu span {
    height: 0.5vw;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
}


h1 {
    margin-bottom: 2vw;
}



/* INDEX */

.landing-wrapper {
    display: flex;
}

.landing-text {
    display: flex;
    flex-direction: column;
}

.slide {
    height: 100%;
    display: none;
    background-size: cover;
}

#slideshow {
    position: relative;
    display: block;
    height: 71vh;
    margin-right: 3vw;
}

.displaySlide {
    display: block;
    color: white;
}

.slide-caption {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    padding: 2%;
}

#slideshow button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2vmax;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1vh 1vh;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

.textarea {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.textblock {
    margin-top: 3vw;
}







/* HELP & TUTORING */

#help-heading {
    font-size: 4rem;
}

.hours-text {
    font-weight: normal;
    margin-top: 1vw;
}

.hours-list {
    font-weight: bold;
    list-style: none;
}

.hours-list li {
    margin-top: 2vw;
}

.table-container {
    overflow-x: auto;
}

.hours-sublist li {
    margin-top: 1vw;
}

.hours-sublist {
    list-style: none;
    font-weight: normal;
}

.links-table {
    width: 100%;
    margin-top: 1vw;
    height: 8vw;
}

.links-table tbody {
    font-weight: normal;
}



/* FACULTY */

.faculty-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.faculty-text {
    margin: auto 0 auto 0;
    overflow-y: auto;
}

.faculty-text a {
    color: #000;
    text-decoration: underline;
}



/* COURSE DESCRIPTIONS */

.course .chevron {
    width: 1.4vw;
    height: 1.4vw;
    border-right: 0.3vw solid;
    border-bottom: 0.3vw solid;
    margin-right: 1vw;
    top: -0.4vw;
}

.course .flipped .chevron {
    transform: rotate(-135deg);
    top: 0.4vw;
}

.course {
    max-width: 900px;
    margin-bottom: 3vw;
    line-height: 1.5;
}

.course-name {
    font-size: 2.25rem;
    margin-bottom: 1vw;
    cursor: pointer;
}

.course-info {
    font-size: 1.5rem;
    list-style-position: inside;
}

.course-info ul {
    margin-top: 1vw;
}

.hidden {
    display: none;
}



/* INDEPENDENT STUDY */

.is-links {
    list-style: none;
    font-weight: bold;
    margin-bottom: 3vw;
    margin-top: 3vw;
}

.is-links a {
    text-decoration: underline;
    font-weight: normal;
}

.is-links li {
    margin-bottom: 3vw;
}

.link-sublist {
    list-style: disc;
    list-style-position: inside;
    margin-top: 1vw;
}

.link-sublist li {
    margin-bottom: 1vw;
}



@media (max-aspect-ratio: 1/1) {

    nav {
        position: sticky;
        top: 0;
        background-color: rgb(236, 231, 213);
        height: 13vw;
        padding: 3vw;
    }

    .navigation {
        background-color: white;
        height: 100%;
        /* max-width: 1280px; */
        position: fixed;
        top: 0;
        right: -100vw;
        flex-direction: column;
        padding-top: 8vw;
        padding-right: 2vw;
        text-align: right;
        font-size: 13rem;
        transition: .3s ease;
        z-index: 9;
        overflow: scroll;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .navigation.active {
        right: 0;
    }

    .category-name {
        flex-direction: row;
        justify-content: right;
    }

    nav .chevron {
        width: 2vw;
        height: 2vw;
        border-right: 0.5vw solid;
        border-bottom: 0.5vw solid;
        top: 4vw;
        margin-right: 3vw;
    }

    .navigation .flipped .chevron {
        transform: rotate(-135deg);
        top: 5vw;
    }

    .navigation li ul {
        font-size: 8rem;
    }
    
    .navigation li{
        margin-top: 3vw;
        cursor: pointer;
    }

    .navigation ul.active {
        display: block;
    }

    .ham-menu {
        display: block;
    }

    /* ?????????? */
    /* h1  {
        font-size: 6rem;
    } */



    .landing-wrapper {
        flex-direction: column;
    }

    .landing-text p {
        font-size: 3rem;
    }

    #slideshow {
        width: 100%;
        margin-bottom: 3vw;
        height: 60vw;
    }

    #slideshow button {
        font-size: 5rem;
    }    

    .slide-caption {
        font-size: 2.5rem;
    }

    #index-heading {
        font-size: 6.2rem;
    }

    .textarea {
        font-size: 3rem;
    }

    .textblock {
        width: 100%;
    }



    .faculty-text {
        font-size: 3rem;
        width: 100%;
    }

    .faculty-wrapper img {
        width: 100%;
        margin-bottom: 5%;
    }

    .faculty-wrapper {
        flex-direction: column;
    }



    #is-heading {
        font-size: 9rem;
    }
    
    .is-links {
        font-size: 5rem;
    }



    .hours-text {
        font-size: 4rem;
    }

    .hours-list {
        font-size: 5rem;
    }

    .table-container {
        /* border: #000; */
        border: black;
        border-width: 0.5vw;
        border-style:solid;
    }

    .links-table {
        font-size: 3rem;
        min-width: 2750px;
    }
}

@media (min-aspect-ratio: 1/1) {

    nav {
        height: 10vw;
        /* background-color: red; */
        padding: 3vw;
    }

    .navigation {
        font-size: 2rem;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .navigation li {
        margin: auto 0 auto 0;
    }

    nav .chevron {
        width: 0.75vw;
        height: 0.75vw;
        border-right: 0.25vw solid;
        border-bottom: 0.25vw solid;
        top: 0.75vw;
        margin-left: 1vw;
    }
    
    .navigation ul a {
        display: block;
        padding: 1.5vw 1.5vw;
        font-size: 1.5rem;
    }

    .navigation li ul {
        border: #808080;
        border-width: 0.15vw;
        border-style:solid;
    }

    .navigation li:hover ul {
        display: block;
    }
    
    .navigation ul {
        position: absolute;
        z-index: 99;
        background-color: white;
    }



    .landing-wrapper {
        flex-direction: row;
    }

    #slideshow {
        width: 60%;
    }

    #slideshow button {
        font-size: 2rem;
    }

    .landing-text {
        width: 35vw;
    }
    
    #index-heading {
        font-size: 6.1rem;
    }

    .landing-text p {
        margin-right: 12vw;
        font-size: 2rem;
    }

    .textarea {
        font-size: 1.25rem;
    }

    .textblock {
        width: 29.5vw;
    }
    



    #faculty-heading, #course-descriptions-heading {
        font-size: 4.5rem;
    }

    .faculty-text {
        font-size: 1.3rem;
        margin-right: 3vw;
        margin-left: 3vw;
        width: 100%;
        height: 100%;
        max-height: 20vw;
    }

    .faculty-wrapper img {
        width: 20vw;
        height: 20vw;
    }

    .faculty-wrapper {
        flex-direction: row;
    }



    #is-heading {
        font-size: 3.5rem;
    }
    
    .is-links {
        font-size: 2rem;
    }




    .hours-text {
        font-size: 1.5rem;
    }

    .hours-list {
        font-size: 1.5rem;
    }

    .links-table {
        font-size: 1.3rem;
    }

}