/* Each page has three groups of styles: general, tall aspect ratio (phones, tablets), and wide aspect ratio (wide screens). To quickly
navigate to the styles for a specific page, search (CTRL + F) the page's name followed by "styles" and then "tall" or "wide" as needed.
You shouldn't have to type the whole thing. There are also separate sets for styles that apply to multiple pages (general styles) and
styles for the navigation menu (nav styles). The order in which elements are listed here reflects the order in which they appear on the
page.*/



/* GENERAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(236, 231, 213);
    /* height: 100%; */
    z-index: 0;
}

main {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #000;
}

.chevron {
    display: inline-block;
    /* border-right: 4px solid rgb(229, 21, 21); */
    transform: rotate(45deg);
    position: relative;
}



/* NAV STYLES */

nav {
    display: flex;
    flex-direction: row;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
}

nav img {
    height: 100%;
}

.nav-categories {
    display: flex;
    width: 100%;
    list-style: none;
}

.nav-categories a:hover {
    text-decoration: underline;
}

.nav-category-name {
    display: flex;
    flex-direction: row-reverse;
}

.nav-categories ul {
    display: none;
    list-style: none;
}



/* INDEX STYLES */

.landing-wrapper {
    display: flex;
}

#slideshow {
    position: relative;
    display: block;
}

.slide {
    height: 100%;
    display: none;
    background-size: cover;
}

.display-slide {
    display: block;
    color: white;
}

.slide-caption {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    padding: 2%;
}

#slideshow button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2vmax;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 1% 1%;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

.landing-text-wrapper {
    display: flex;
    flex-direction: column;
}

.landing-text-wrapper a {
    text-decoration: underline;
    font-weight: bold;
}

.body-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.body-wrapper div {
    line-height: 1.4;
    list-style-position: inside;
}



/* FACULTY & STAFF STYLES */

.faculty-member {
    display: flex;
    justify-content: space-between;
}

.faculty-member img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.faculty-member div {
    margin: auto 0 auto 0;
    overflow-y: auto;
}

.faculty-member div a {
    color: #000;
    text-decoration: underline;
}



/* STUDENTS & ALUMNS STYLES */

.year {
    font-weight: bold;
}

.students-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.student {
    overflow: hidden;
    text-align: center;
    /* background-color: cyan; */
}

.student-photo {
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}



/* AFTER WOOSTER STYLES */

.after-wooster-list {
    list-style-position: inside;
}
    
.after-wooster-button {
    text-decoration: underline;
    cursor: pointer;
}



/* COURSE DESCRIPTIONS STYLES */

.course {
    line-height: 1.5;
}

.course-name {
    cursor: pointer;
}

.course .flipped .chevron {
    transform: rotate(-135deg);
}

.course-info {
    list-style-position: inside;
}

.hidden {
    display: none;
}



/* IS STYLES */

.is-categories {
    list-style: none;
}

.is-categories a {
    text-decoration: underline;
}

.is-categories ul {
    list-style: disc;
    list-style-position: inside;
}

.is-images-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.is-images-wrapper img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* DEVELOPMENT LAB / CS HELP STYLES */

.help-description a {
    text-decoration: underline;
}

.help-resources {
    list-style: none;
}

.help-resources a {
    text-decoration: underline;
}

.help-resources ul {
    display: flex;
    list-style: none;
}



/* RESEARCH & INTERNSHIPS STYLES */

.research-categories {
    list-style: none;
}

.research-categories ul {
    list-style: disc;
    list-style-position: inside;
    line-height: 1.25;
}

.research-categories a {
    text-decoration: underline;
}

.research-images-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.research-images-wrapper img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* RECENT EVENTS STYLES */

.event {
    display: flex;
    justify-content: space-between;
}

.event img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event div {
    margin: auto 0 auto 0;
    overflow-y: auto;
}



/* ADDITIONAL LINKS STYLES */

.links-categories {
    list-style: none;
}

.links-categories ul {
    list-style: disc;
    list-style-position: inside;
}

.links-categories a {
    text-decoration: underline;
}



@media (max-aspect-ratio: 1/1) {

    /* GENERAL STYLES TALL */

    html {
        font-size: 1vw;
    }

    main {
        padding: 0 3vw 0 3vw;
    }

    h1 {
        margin-bottom: 3vw;
    }



    /* NAV STYLES TALL */

    nav {
        position: sticky;
        top: 0;
        background-color: rgb(236, 231, 213);
        height: 13vw;
        padding: 3vw;
    }

    .logo {
        width: 20vw;
    }

    .nav-categories {
        background-color: white;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100vw;
        flex-direction: column;
        padding-top: 8vw;
        padding-right: 2vw;
        text-align: right;
        font-size: 13rem;
        transition: .3s ease;
        z-index: 9;
        overflow: scroll;
    }

    .nav-categories.active {
        right: 0;
    }

    .nav-category-name {
        flex-direction: row;
        justify-content: right;
    }

    nav .chevron {
        width: 4vw;
        height: 4vw;
        border-right: 1vw solid;
        border-bottom: 1vw solid;
        top: 4vw;
        margin-right: 3vw;
    }

    .nav-categories .flipped .chevron {
        transform: rotate(-135deg);
        top: 6vw;
    }
    
    .nav-categories li{
        margin-top: 3vw;
        cursor: pointer;
    }

    .nav-categories ul {
        font-size: 7rem;
    }

    .nav-categories ul.active {
        display: block;
    }

    .ham-menu {
        height: 7vw;
        width: 7vw;
        margin-left: auto;
        position: relative;
        z-index: 99;
        display: block;
    }
    
    .ham-menu span {
        height: 0.5vw;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-radius: 1vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }
    
    .ham-menu span:nth-child(1) {
        top: 25%;
    }
    
    .ham-menu span:nth-child(3) {
        top: 75%;
    }
    
    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%) rotate(45deg);
    }
    
    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }
    
    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%) rotate(-45deg);
    }
    


    /* INDEX STYLES TALL */

    .landing-wrapper {
        flex-direction: column;
        margin-top: 3vw;
    }

    #slideshow {
        width: 100%;
        height: 60vw;
        margin-right: 3vw;
    }

    #slideshow button {
        font-size: 5rem;
    }    

    .slide-caption {
        font-size: 2.5rem;
    }

    .landing-text-wrapper {
        margin-top: 3vw;
    }

    .landing-text-wrapper h1 {
        font-size: 10rem;
    }

    .landing-text-wrapper p {
        font-size: 5rem;
        margin-top: 3vw;
    }

    .body-wrapper {
        font-size: 5rem;
    }

    .body-wrapper div {
        width: 100%;
        margin-top: 6vw;
    }

    .body-wrapper h2 {
        font-size: 5rem;
    }



    /* FACULTY & STAFF STYLES TALL */

    #faculty-heading {
        font-size: 8rem;
    }

    .faculty-member {
        flex-direction: column;
        margin-top: 6vw;
    }

    .faculty-member img {
        width: 100%;
    }

    .faculty-member div {
        font-size: 4rem;
        width: 100%;
    }

    .faculty-member div p {
        margin-top: 3vw;
    }



    /* STUDENTS & ALUMNS STYLES TALL */
    
    #students-heading {
        font-size: 5vw;
    }

    .years-wrapper {
        margin-bottom: 3vw;
    }

    .year {
        font-size: 4vw;
        margin-bottom: 3vw;
    }

    .students-wrapper {
        gap: 3vw;
        margin-top: 1.5vw;
    }
    
    .student {
        font-size: 3vw;
        width: 28.5vw;
    }

    .student-photo {
        height: 35vw;
        margin-bottom: 1.5vw;
    }



    /* AFTER WOOSTER STYLES TALL */

    #after-wooster-heading {
        font-size: 8rem;
    }

    .after-wooster-subheading {
        font-size: 4rem;
        margin-top: 3vw;
    }
    
    .after-wooster-list {
        font-size: 3.5rem;
    }

    .after-wooster-list li {
        margin-top: 1vw;
    }
    
    .after-wooster-button {
        font-size: 3.5rem;
        margin-top: 1vw;
    }



    /* COURSE DESCRIPTIONS STYLES TALL */

    #course-descriptions-heading {
        font-size: 8rem;
    }

    .course {
        margin-top: 6vw;
    }

    .course-name {
        font-size: 5.5rem;
    }

    .course .chevron {
        width: 2.5vw;
        height: 2.5vw;
        border-right: 0.5vw solid;
        border-bottom: 0.5vw solid;
        margin-right: 1.5vw;
        top: -1vw;
    }

    .course .flipped .chevron {
        top: 0vw;
    }
    
    .course-info {
        margin-top: 1.5vw;
        font-size: 4rem;
    }

    .course-info ul {
        margin-top: 1.5vw;
    }



    /* IS STYLES TALL */

    #is-heading {
        font-size: 9rem;
    }
    
    .is-categories {
        font-size: 5rem;
    }

    .is-categories li {
        margin-top: 6vw;
    }

    .is-categories h2 {
        font-size: 5rem;
    }

    .is-categories ul li {
        margin-top: 1.5vw;
    }

    .is-images-wrapper {
        justify-content: center;
    }

    .is-images-wrapper img {
        width: 92.5vw;
        margin-top: 3vw;
    }



    /* DEVELOPMENT LAB / CS HELP STYLES TALL */

    #help-heading {
        font-size: 7rem;
    }

    .help-description {
        font-size: 4rem;
        margin-top: 2vw;
    }

    .help-resources h2 {
        font-size: 5rem;
    }

    .help-resources li {
        margin-top: 3vw;
    }

    .help-resources ul {
        flex-direction: column;
        font-size: 4rem;
        line-height: 6vw;
    }

    .help-resources ul li {
        margin-top: 2vw;
    }



    /* RESEARCH & INTERNSHIPS STYLES TALL */

    #research-heading {
        font-size: 8rem;
    }
    
    .research-categories {
        margin-bottom: 3vw;
    }

    .research-categories li {
        margin-top: 6vw;
    }

    .research-categories h2{
        font-size: 6rem;
    }

    .research-categories ul li {
        margin-top: 1.5vw;
        font-size: 5rem;
    }

    .research-images-wrapper {
        justify-content: center;
    }

    .research-images-wrapper img {
        width: 92.5vw;
        margin-bottom: 3vw;
    }



    /* RECENT EVENTS STYLES TALL */
    
    #events-heading {
        font-size: 8vw;
    }
    
    .events-year {
        font-size: 7rem;
        margin-top: 6vw;
    }
    
    .event {
        margin-top: 6vw;
        flex-direction: column;
    }

    .event img {
        width: 91vw;
    }

    .event div {
        font-size: 4rem;
        margin-top: 3vw;
        line-height: 1.25;
    }

    .event-description {
        margin-top: 3vw;
    }



    /* ADDITIONAL LINKS STYLES TALL */

    #links-heading {
        font-size: 9rem;
    }
    
    .links-categories {
        font-size: 5rem;
        margin-top: 3vw;
    }

    .links-categories li {
        margin-top: 6vw;
    }

    .links-categories h2 {
        font-size: 6rem;
    }

    .links-categories ul li {
        margin-top: 1.5vw;
    }

}

@media (min-aspect-ratio: 1/1) {

    /* GENERAL STYLES WIDE */

    html {
        font-size: 15px;
        zoom: 80%;
    }

    main {
        width: 1510px;
        padding: 0 40px 40px 40px;
    }

    h1 {
        margin-bottom: 20px;
    }



    /* NAV STYLES WIDE */

    nav {
        padding: 40px;
        width: 1510px;
        text-align: left;
        justify-content: center;
        align-items: center;
    }

    .logo {
        height: 70px;
        margin-right: 40px;
    }

    .nav-categories {
        font-size: 2rem;
        flex-flow: row wrap;
        justify-content: space-between;
        text-align: right;
    }
    
    .nav-categories li {
        padding: 0 20px 0 20px;
        margin: auto 0 auto 0;
        width: 220px;
    }

    .nav-category-name {
        justify-content: left;
    }

    nav .chevron {
        width: 15px;
        height: 15px;
        border-right: 3px solid;
        border-bottom: 3px solid;
        top: 7px;
        margin-left: 15px;
    }
    
    .nav-categories ul a {
        display: block;
        padding: 25px 25px;
        font-size: 1.5rem;
    }

    .nav-is {
        margin-right: 70px;
    }

    .nav-categories li:hover ul {
        display: block;
    }
    
    .nav-categories ul {
        position: absolute;
        z-index: 99;
        background-color: white;
        border: #808080;
        border-width: 2px;
        border-style:solid;
        width: initial;
        text-align: left;
    }

    .nav-categories ul li {
        width: initial;
        padding: 0;
    }

    .ham-menu {
        display: none;
    }



    /* INDEX STYLES WIDE */

    .landing-wrapper {
        flex-direction: row;
    }

    #slideshow {
        width: 860px;
        height: 560px;
        margin-right: 40px;
    }

    #slideshow button {
        font-size: 2rem;
    }

    .landing-text-wrapper {
        width: 530px;
    }
    
    .landing-text-wrapper h1 {
        font-size: 3.75rem;
    }

    .landing-text-wrapper p {
        font-size: 1.65rem;
        margin-top: 20px;
    }

    .body-wrapper {
        font-size: 1.65rem;
        margin-top: 40px;
    }

    .body-wrapper div {
        width: 695px;
    }

    .body-wrapper h2 {
        font-size: 1.65rem;
    }



    /* FACULTY & STAFF STYLES WIDE */

    #faculty-heading {
        font-size: 4.5rem;
    }

    .faculty-member {
        flex-direction: row;
        margin-top: 40px;
    }

    .faculty-member img {
        width: 300px;
        height: 300px;
    }

    .faculty-member div {
        font-size: 1.3rem;
        margin-left: 40px;
        width: 1100px;
        max-height: 300px;
    }

    .faculty-member div p {
        margin: 20px 0;
    }



    /* STUDENTS & ALUMNS STYLES WIDE */

    #students-heading {
        font-size: 5rem;
    }

    .years-wrapper {
        margin-bottom: 40px;
        /* background-color: cyan; */
        width: 93vw;
        max-width: 1420px;
    }

    .year {
        font-size: 4rem;
        margin-bottom: 40px;
    }

    .students-wrapper {
        gap: 40px;
        margin-top: 20px;
    }
    
    .student {
        font-size: 2rem;
        width: 250px;
    }

    .student-photo {
        height: 300px;
        margin-bottom: 20px;
    }



    /* AFTER WOOSTER STYLES WIDE */

    #after-wooster-heading {
        font-size: 4rem;
    }

    .after-wooster-subheading {
        font-size: 2rem;
        margin-top: 40px;
    }
    
    .after-wooster-list {
        font-size: 1.6rem;
    }

    .after-wooster-list li {
        margin-top: 10px;
    }
    
    .after-wooster-button {
        font-size: 1.6rem;
        margin-top: 10px;
    }



    /* COURSE DESCRIPTIONS STYLES WIDE */

    #course-descriptions-heading {
        font-size: 4.5rem;
    }

    .course {
        margin-top: 40px;
    }

    .course-name {
        font-size: 2.25rem;
    }

    .course .chevron {
        width: 20px;
        height: 20px;
        border-right: 5px solid;
        border-bottom: 5px solid;
        margin-right: 20px;
        top: -5px;
    }

    .course .flipped .chevron {
        top: 5px;
    }
    
    .course-info {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .course-info ul {
        margin-top: 20px;
    }



    /* IS STYLES WIDE */

    #is-heading {
        font-size: 3.5rem;
    }
    
    .is-categories {
        font-size: 2rem;
    }

    .is-categories li {
        margin-top: 40px;
    }

    .is-categories h2 {
        font-size: 2rem;
    }

    .is-categories ul li {
        margin-top: 20px;
    }

    .is-images-wrapper {
        margin-top: 20px;
    }

    .is-images-wrapper img {
        height: 360px;
        margin-top: 20px;
        margin-right: 20px;
    }
    


    /* DEVELOPMENT LAB / CS HELP STYLES WIDE */

    #help-heading {
        font-size: 3rem;
    }
    
    .help-description {
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .help-resources {
        margin-top: 20px;
    }

    .help-resources h2 {
        font-size: 2rem;
    }

    .help-resources li {
        margin-top: 40px;
    }

    .help-resources ul {
        flex-direction: row;
        font-size: 1.35rem;
        line-height: 40px;
        column-gap: 20px;
        margin-top: 20px;
    }

    .help-resources ul li {
        width: 200px;
        margin-top: 0;
    }



    /* RESEARCH & INTERNSHIPS STYLES WIDE */

    #research-heading {
        font-size: 4rem;
    }
    
    .research-categories {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .research-categories li {
        margin-bottom: 40px;
    }

    .research-categories h2{
        font-size: 3rem;
    }

    .research-categories ul {
        font-size: 2rem;
        margin-top: 20px;
    }

    .research-categories ul li {
        margin-bottom: 20px;
    }

    .research-images-wrapper {
        margin-bottom: 20px;
    }

    .research-images-wrapper img {
        height: 455px;
        margin-bottom: 20px;
        margin-right: 20px;
    }



    /* RECENT EVENTS STYLES WIDE */

    #events-heading {
        font-size: 5rem;
    }
    
    .events-year {
        font-size: 3rem;
        margin-top: 40px;
    }
    
    .event {
        margin-top: 20px;
        flex-direction: row;
    }

    .event img {
        width: 550px;
        margin-right: 40px;
    }

    .event div {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .event-description {
        margin-top: 20px;
    }



    /* ADDITIONAL LINKS STYLES WIDE */

    #links-heading {
        font-size: 3.5rem;
    }
    
    .links-categories {
        font-size: 2rem;
    }

    .links-categories li {
        margin-top: 40px;
    }

    .links-categories h2 {
        font-size: 2rem;
    }

    .links-categories ul li {
        margin-top: 20px;
    }

}