* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

/* html {
    height: 100%;
} */

body {
    background-color: rgb(236, 231, 213);
    /* height: 100%; */
    z-index: 0;
}

main {
    padding: 0 40px 0 40px;

}

a {
    color: #000;
}

nav {
    display: flex;
    flex-direction: row;
    /* background-color: magenta; */
    z-index: 999;
    padding: 40px 40px 40px 40px;
}

.home {
    width: 275px;
}

nav img {
    width: 100%;
    /* background-color: cyan; */
}

.category-name {
    display: flex;
    flex-direction: row-reverse;
    /* background-color: red; */
}

.chevron {
    display: inline-block;
    /* border-right: 4px solid rgb(229, 21, 21); */
    transform: rotate(45deg);
    position: relative;
    /* background-color: cyan; */
}

.navigation {
    display: flex;
    /* background-color: cyan; */
    width: 100%;
    list-style: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation ul {
    display: none;
    list-style: none;
}

.ham-menu {
    height: 75px;
    width: 75px;
    margin-left: auto;
    position: relative;
    /* background-color: magenta; */
    z-index: 99;
    display: none;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
}


h1 {
    margin-bottom: 20px;
}



/* INDEX */

.landing-wrapper {
    /* background-color: cyan; */
    display: flex;
}

.landing-text {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.landing-text p {
    /* background-color: blue; */
    font-size: 2rem;
}

.slide {
    height: 100%;
    display: none;
    background-size: cover;
}

#slideshow {
    position: relative;
    display: block;
    height: 560px;
    margin-right: 40px;
}

.displaySlide {
    display: block;
    color: white;
}

.slide-caption {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    bottom: 0;
    padding: 2%;
}

#slideshow button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

.textarea {
    /* background-color: cyan; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.textblock {
    /* background-color: magenta; */
    margin-top: 40px;
}



/* ANNOUNCEMENTS */

#announcements-heading {
    font-size: 5vw;
    margin-bottom: 2.5vw;
}

.announcement {
    border-top: 2px solid;
    padding-top: 2.5vw;
    margin-bottom: 2vw;
    max-width: 990px;
}

.announcement-heading {
    font-size: 2vw;
}

.announcement-body {
    font-size: 1.4vw;
}

.announcement-body a {
    text-decoration: underline;
}



/* HELP & TUTORING */

#help-heading {
    font-size: 4vw;
}



/* FACULTY */

.faculty-wrapper {
    /* background-color: magenta; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.faculty-text {
    /* background-color: cyan; */
    margin-left: 50px;
    margin: auto 0 auto 0;
    overflow-y: auto;
}

.faculty-text a {
    color: #000;
    text-decoration: underline;
}



/* COURSE DESCRIPTIONS */

.course .chevron {
    width: 20px;
    height: 20px;
    border-right: 4px solid;
    border-bottom: 4px solid;
    margin-right: 20px;
    top: -6px;
}

.course .flipped .chevron {
    transform: rotate(-135deg);
    top: 5px;
}

.course {
    max-width: 900px;
    margin-bottom: 40px;
    /* background-color: red; */
    line-height: 1.5;
}

.course-name {
    font-size: 2.25rem;
    margin-bottom: 20px;
    /* background-color: red; */
    cursor: pointer;
}

.course-info {
    font-size: 1.5rem;
    list-style-position: inside;
    padding-top: 40px;
    /* background-color: cyan; */
}

.course-info ul {
    margin-top: 10px;
    /* background-color: red; */
}

.hidden {
    display: none;
}



/* INDEPENDENT STUDY */

.is-links {
    list-style: none;
    margin-bottom: 3vw;
    font-weight: bold;
}

.is-links a {
    text-decoration: underline;
    font-weight: normal;
}

.is-links li {
    margin-bottom: 2vw;
}

#fall-presentations {
    list-style: disc;
    margin-left: 2vw;
    margin-top: 1vw;
}

#fall-presentations li {
    margin-bottom: 1vw;
}



@media (max-width: 1280px) {

    nav {
        position: sticky;
        top: 0;
        background-color: rgb(236, 231, 213);
    }

    .navigation {
        background-color: white;
        height: 100%;
        max-width: 1280px;
        position: fixed;
        top: 0;
        right: -1280px;
        flex-direction: column;
        padding-top: 150px;
        padding-right: 45px;
        text-align: right;
        font-size: 7rem;
        transition: .3s ease;
        z-index: 9;
        overflow: scroll;
        /* justify-content: center; */
        /* align-items: center; */
    }

    .navigation.active {
        right: 0;
    }

    .category-name {
        flex-direction: row;
        justify-content: right;
    }

    nav .chevron {
        width: 35px;
        height: 35px;
        border-right: 8px solid;
        border-bottom: 8px solid;
        top: 35px;
        margin-right: 25px;
    }

    .navigation .flipped .chevron {
        transform: rotate(-135deg);
        top: 55px;
    }

    .navigation li ul {
        font-size: 5rem;
    }
    
    .navigation li{
        margin-top: 25px;
        cursor: pointer;
    }

    .navigation ul.active {
        display: block;
    }

    .ham-menu {
        display: block;
    }

    /* ?????????? */
    h1  {
        font-size: 4rem;
    }



    .landing-wrapper {
        flex-direction: column;
    }

    #slideshow {
        width: 100%;
        margin-bottom: 20px;
    }

    #index-heading {
        font-size: 5.9vw;
    }

    .textblock {
        width: 100%;
    }



    #announcements-heading {
        font-size: 7vw;
    }
    
    .announcement-heading {
        font-size: 4vw;
    }
    
    .announcement-body {
        font-size: 3vw;
    }



    .faculty-text {
        font-size: 1.75rem;
        width: 100%;
    }

    .faculty-wrapper img {
        width: 100%;
        margin-bottom: 5%;
    }

    .faculty-wrapper {
        flex-direction: column;
    }



    #is-heading {
        font-size: 6vw;
    }
    
    .is-links {
        font-size: 5vw;
    }
}

@media (min-width: 1281px) {
    
    .navigation {
        font-size: 2rem;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: red; */
    }
    
    .navigation li {
        /* background-color: cyan; */
        margin: auto 0 auto 0;
    }

    nav .chevron {
        width: 10px;
        height: 10px;
        border-right: 2px solid;
        border-bottom: 2px solid;
        top: 9px;
        margin-left: 15px;
    }
    
    .navigation ul a {
        display: block;
        padding: 20px 25px;
        font-size: 1.5rem;
    }

    .navigation li ul {
        border: #808080;
        border-width: 1px;
        border-style:solid;
    }

    .navigation li:hover ul {
        display: block;
    }
    
    .navigation ul {
        position: absolute;
        z-index: 99;
        background-color: white;
    }



    .landing-wrapper {
        flex-direction: row;
        /* background-color: red; */
    }

    #slideshow {
        width: 60%;
    }

    .landing-text {
        width: 35vw;
        /* background-color: cyan; */
    }
    
    #index-heading {
        font-size: 6.1vw;
    }

    .landing-text p {
        /* background-color: magenta; */
        margin-right: 12vw;
    }

    .textblock {
        width: 29.5vw;
    }



    #announcements-heading {
        font-size: 5vw;
    }
    
    .announcement-heading {
        font-size: 2vw;
    }
    
    .announcement-body {
        font-size: 1.4vw;
    }



    #faculty-heading, #course-descriptions-heading {
        font-size: 4.5rem;
    }

    .faculty-text {
        font-size: 1.3rem;
        margin-right: 40px;
        margin-left: 40px;
        width: 100%;
        height: 100%;
        max-height: 20vw;
    }

    .faculty-wrapper img {
        width: 20vw;
        height: 20vw;
    }

    .faculty-wrapper {
        flex-direction: row;
    }



    #is-heading {
        font-size: 3vw;
    }
    
    .is-links {
        font-size: 2vw;
    }
}