# Faculty/user directories
/aasad/
/bioinformatics/
/danpalmer/
/dbyrnes/
/dguarnera/
/hguarnera/
/hlee/
/jmusgrave/
/kbhowmik/
/ksmall16/
/mionescu/
/nfox/
/nsommer/
/rpricejones/
/svisa/
/tmontelione/

# Legacy HTML files
/oldindex.html
/newindex.html
