* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

/* html {
    height: 100%;
} */

body {
    background-color: rgb(237, 235, 228);
    padding: 40px 40px 0 40px;
    /* height: 100%; */
}

nav {
    /* background-color: tan; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 40px; */
}

.navigation {
    width: 70%;
    /* background-color: magenta; */
    font-size: 2rem;
    flex-direction: row;
    justify-content: space-between;
}

.home {
    /* background-color: green; */
    width: 25%;
    margin: 0;
}

nav img {
    width: 100%;
    /* background-color: cyan; */
}

.navigation li {
    display: inline-block;
    /* display: inline-block; */
    width: 20%;
    height: 100%;
    /* background-color: cyan; */
    position: relative;
}

.navigation li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
}

.dropdown li {
    display: block;
}

.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: white;
}

.navigation a:hover {
    text-decoration: underline;
}

li:hover ul.dropdown {
    display: block;
}

.resources-menu, .people-menu, .curriculum-menu, .is-menu {
    display: none;
}

.resources-menu.active, .people-menu.active, .curriculum-menu.active, .is-menu.active {
    display: block;
}

.mobile-menu {
    display: flex;
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    z-index: 9;
}

.mobile-menu.active {
    right: 0;
}

.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
    /* background-color: magenta; */
    z-index: 99;
    display: none;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%) rotate(45deg);
    /* transform: translate(-50%, -50%) rotate(45deg); */
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%) rotate(-45deg);
    /* transform: translate(-50%, 50%) rotate(-45deg); */
}

@media (max-width: 1000px) {
    .navigation {
        display: none;
    }
    #index-heading, #faculty-heading  {
        font-size: 4rem;
    }
    .ham-menu {
        display: block;
    }
    .faculty-text {
        font-size: 0.6rem;
    }
}

@media (min-width: 1001px) {
    .navigation {
        display: flex;
    }
    #index-heading {
        font-size: 5.95em;
    }
    #faculty-heading {
        font-size: 4.5rem;
    }
    .ham-menu {
        display: none;
    }
    .faculty-text {
        font-size: 1.5rem;
    }
}



/* INDEX */

.slide {
    height: 100%;
    display: none;
    background-size: cover;
}

#slideshow {
    position: relative;
    width: 100%;
    display: block;
    height: 600px;
}

.displaySlide {
    display: block;
    color: white;
}

#slideshow button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

#index-heading {
    text-align: center;
    margin: 20px 0 20px 0;
}

.textarea {
    /* background-color: cyan; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.textblock {
    /* background-color: magenta; */
    width: 700px;
    margin-top: 40px;
}



/* FACULTY */

#faculty-heading {
    /* text-align: center; */
    margin: 20px 0 20px 0;
    /* background-color: red; */
    /* display: inline-block; */
}

.faculty-wrapper {
    /* background-color: magenta; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
    /* height: 10%; */
    /* width: 50%; */
}

.faculty-text {
    /* background-color: cyan; */
    width: 72.5%;
    margin: auto 0 auto 0;
    /* height: auto; */
    /* margin-left: 2.5%; */
    /* width: 100%; */
    display: block;
    /* font-size: 1.5rem; */
}

.faculty-wrapper img {
    width: 22.5%;
}